{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <div class="media">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    {% if current_user.username != user.username %}
    
    {% if not already_connected %}  <!-- Show the Connect button if not already connected -->
            <form method="POST">
                {{ form.hidden_tag() }}
                <div style="display: none;">  <!-- Hide the hidden fields -->
                    {{ form.user_id(class="form-control") }}  <!-- Hidden field for current user ID -->
                    {{ form.friend_id(class="form-control") }}  <!-- Hidden field for profile user ID -->
                </div>
                {{ form.submit(class="btn btn-primary") }}  <!-- Display the Connect button -->
            </form>
        {% else %}  <!-- Show a message if already connected -->
            <button class="btn btn-success">Already connected</button>
        {% endif %}
    {% endif %}
</div>
{% if already_connected%}
<h1 class="mb-3"> Applications by {{ user.username }} ({{applications.total }})</h1>

{% for ap in applications.items %}
    <article class="media content-section">
     
      <div class="row">
        <div class="col-md-1">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/'+ap.author.image_file) }}">
        </div>
        <div class="col-md-11">
          <div class="media-body">
            <div class="article-metadata d-flex justify-content-between align-items-center">
              <a class="mr-2 username" href="{{url_for('users.user_applications', username=ap.author.username)}}">{{ ap.author.username }}</a>
              <small class="text-muted">{{ ap.date_applied.strftime('%Y-%m-%d') }}</small>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p style="margin: 0;">
                  <span class="role-name">{{ ap.jobrole }}</span><br>
                  <span class="text-muted jobdetails">{{ ap.companyname }}</span>
                </p>
              </div>
              <div class="col-md-6 text-right">
                <p style="margin: 0;">
                  <span class="role-name">{{ ap.joblocation }}</span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 d-flex justify-content-between align-items-center">
                <p class="jobdetails job-website">Apply Now: <a class="article-title" style="text-decoration: none;" href="{{  ap.jobwebsite }}" target="_blank">{{ ap.jobwebsite }}</a> </p>
           
                <a href="{{ url_for('applications.application', application_id = ap.id) }}" class="btn float-right jobbutton"><i class="fas fa-arrow-right" style="color: white;"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      
  </article>
{% endfor %}
{% for page_num in applications.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {% if applications.page == page_num %}
    <a class="btn btn-info mb-4" href="{{url_for('users.user_applications', username = user.username,page=page_num)}}"> {{page_num}} </a>
    {% else %}
    <a class="btn btn-outline-info mb-4" href="{{url_for('users.user_applications', username = user.username, page=page_num)}}"> {{page_num}} </a>
    {% endif %}
  {% else %}
  {% endif %}
{% endfor %}
{% endif %}

{% endblock content %}
